@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  @font-face {
    font-family: "circular-web";
    src: url("/fonts/circularweb-book.woff2") format("woff2");
  }

  @font-face {
    font-family: "zentry";
    src: url("/fonts/zentry-regular.woff2") format("woff2");
  }
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  height: 100vh;
  background-color: #FBFBFB;
  color: black;
  line-height: 1.5;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.canvas {
  position: fixed !important;
  top: 0px;
  left: 0px;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 0;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: #010100;
}
::-webkit-scrollbar-track {
  background-color: #000000;
}

.wrap {
  width: min(926px, 100% - 4rem);
  margin-inline: auto;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff0;
  mix-blend-mode: color-dodge;
  background-image: url(/img/noise2.gif);
  opacity: 0.2;
}

.scratche {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background: url(/img/noise.gif);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.25;
  pointer-events: none;
  mix-blend-mode: color-dodge;
}

.circle {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 1;
  border-radius: 50%;
  width: 7vw;
}
